*{
    margin: auto auto;
    padding: 0px 0px;
    justify-content: center;
    overflow-y: hidden;
}

.a{
    padding: 50px 50px;
    background-color: #220000;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

body{
    background-color: #222222;
    width: 100vw;
    height: 100vh;
}
