
*{
    margin: auto auto;
    padding: 0px 0px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    color:#eeffff;
}

body{
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    padding: 0px 0px;
    justify-content: center;
    overflow-y: hidden;
}

.header{
    padding: 50px 50px;
    background-color: #222222;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
