*{
    margin: auto auto;
    padding: 0px 0px;
    justify-content: center;
    overflow-y: hidden;
}

body{
    background-color: #222222;
    width: 100vw;
    height: 100vh;
}

/*
.header{
    margin: 50px 50px;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
*/
