*{
    margin: 0px 0px;
    padding: 0px 0px;
    justify-content: center;
    overflow-x: hidden;
}

body{
    background-color: #111111;
    color:#ffeeee;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    /* code below is for parallax effect */
    background-image: url("./Assets/Background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #666666;
}

a:hover{
    text-decoration: underline;
    color: #eeffff;
}

.header{
    background-color: #222222;
    width: 100vw;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.logo{
    margin: 20px 30px;
    width: 50%;
}

nav{
    margin: 20px 30px;
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

#flair{
    width: 100vw;
    height: 1vh;
    background-color: #330000;
}

.mainBody{
    padding: 40px 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:#ff7777;
}
